.navbar-background {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 1550ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 5;
}

.navbar {
  background-color: #fff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar h1 {
  font-family: 'Foldit', cursive;
  font-size: 3.5rem;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #fff;
  width: 300px;
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -50%;
  transform: 3050ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 80px;
}

.nav-menu.active {
  right: 0;
  transition: 1000ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #501F3A;
  color: #fff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-title {
  margin-left: 16px;
}

.menu-bars-icon {
  color: #333;
  font-size: 30px;
  height: 100px;
}
/*  
.navbar-logo {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.menu-icon {
  display: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 20px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

*/